<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<title>Welcome to our final project</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/sincos/images/demo1.css" type="text/css" media="all" />
</head>

<body>
<p>
{% if latest_argument %}
    <ul class="result">
    {% for p in latest_argument %}
        <li><a href="{% url 'sincos:result' p.id %}">No.{{ p.id }} result</a></li>
    {% endfor %}
    </ul>
{% else %}
    <a class="result">No results are available.</a>
{% endif %}
</p>

<p class="okokok">
<h1>Submit arguments</h1>
<h2>{{ erer }}</h2>
</p>

<form class="form" action="{% url 'sincos:calculate' %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th><label for="A">A =</label></th>
      <th><input type="text" name="A" value="1.0" id="A" /></th>
    </tr>
    <tr>
      <th><label for="k">k =</label></th>
      <th><input type="text" name="k" value="1.0" id="k" /></th>
    </tr>
    <tr>
      <th><label for="111">phy =</label></th>
      <th><input type="text" name="phy" value="0.0" id="333" /></th>
    </tr>
  </table>

  <p class="submit">
    <br />
    <input type="submit" value="Submit!" />
  </p>
</form>
</body>
